:root {
  --header: #0066ff;
  --footer: #0066ff;
  --headline: #ff4b3e;
  --oxford-blue: #0a1128ff;
  --royal-blue-dark: #001f54ff;
  --indigo-dye: #034078ff;
  --cg-blue: #1282a2ff;
  --white: #fefcfbff;
}
main {
  height: 500px;
}
.nav-bar {
  background-color: var(--oxford-blue);
  display: flex;
  align-items: center;
}
.nav-list {
  text-align: right;
  padding-left: 500px;
}
.nav-items {
  display: flex;
  display: inline;
  font-size: 20px;
  justify-content: end;
  padding-left: 20px;
}

h1 {
  color: white;
  font-size: 50px;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.buttons {
  padding: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  padding: 20px;
}
#aboutUs {
  margin-right: 40px;
}
#contactUs {
  margin-left: 40px;
}

.covid-cases-container {
  background-color: var(--header);
}

.hide {
  display: none;
}
